body {
    background-image: url("wood.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

#circumference {
    position: fixed;
    background-color: black;
    height: 480px;
    width: 480px;
    border-radius: 50%;
    margin: auto;
    border: solid 0px black;
    box-shadow: 20px 10px 60px black;
}

#inner {
    list-style-type: none;
    display: inline;
}

#blue {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 210px 0 0 0;
    background: blue;
    top: 50%;
    margin: 0px 0px 0px 20px;
    border: solid 5px black;
}

#yellow {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 0 210px 0 0;
    background: yellow;
    margin: -210px 0px 0px 240px;
    border: solid 5px black;
}

#red {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 0 0 210px 0;
    background: red;
    margin: -210px 0px 240px 240px;
    border: solid 5px black;
}

#green {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 0 0 0 210px;
    background: green;
    margin: 10px 10px 0 20px;
    border: solid 5px black;
}

#control-panel {
    position: fixed;
    background-color: gray;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px black;
    z-index: 1;
    margin: -340px 0px 0px 390px;
}

#buttons {
    position: absolute;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2;
    display: inline;
}

#four-sq {
    list-style-type: none;
    
}

#blue-sq {
    background-color: blue;
    height: 100px;
    width: 100px;
    border-width: 10px 5px 5px 5px;
    border-bottom-color: black;
}

#green-sq {
    background-color: green;
    height: 100px;
    width: 100px;
    border-width: 10px 5px 5px 5px;
    border-bottom-color: black;
    float: right;
}

#red-sq {
    background-color: red;
    height: 100px;
    width: 100px;
    border-width: 10px 5px 5px 5px;
    border-bottom-color: black;
}

#yellow-sq {
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-width: 10px 5px 5px 5px;
    border-bottom-color: black;
    float: right;
}