html,
body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url("wood.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.col {
    margin: 0 auto;
    text-align: center;
}

#circumference {
    position: fixed;
    background-color: black;
    height: 480px;
    width: 480px;
    border-radius: 50%;
    margin: auto;
    border: solid 0px black;
    box-shadow: 20px 10px 60px black;
}

#inner {
    list-style-type: none;
    display: inline;
}

#blue {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 210px 0 0 0;
    top: 50%;
    margin: 0px 0px 0px 20px;
    border: solid 5px black;
    background: darkblue;
}

/*.blueButton {
    
}

.lightBlue {
    background: blue;
}*/

#yellow {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 0 210px 0 0;
    margin: -210px 0px 0px 240px;
    border: solid 5px black;
    background: goldenrod;
}

/*.yellowButton {
    
}

.lightYellow {
    background: yellow;
} */

#red {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 0 0 210px 0;
    margin: -210px 0px 240px 240px;
    border: solid 5px black;
    background: darkred;
}

.bright {
    filter: brightness(150%);
}

 /* .lightRed {
    background: red;
} */
    
#green {
    position: inherit;
    height: 210px;
    width: 210px;
    border-radius: 0 0 0 210px;
    margin: 10px 10px 0 20px;
    border: solid 5px black;
    background: darkgreen;
}

/*.greenButton {
    
}

.lightGreen {
    background: green;
}*/

#control-panel {
    position: absolute;
    background-color: gray;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 5px black;
    z-index: 1;
    margin: 130px 0px 0px 135px;
    clear: both;
    box-shadow: 20px 10px 60px black;
}

#buttons {
    position: relative;
    z-index: 2;
    display: inline;
}

#count {
    position: absolute;
    background: black;
    height: 40px;
    width: 50px;
    margin-left: 70px;
    margin-top: 25px;
    color: red;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.counter {
    content: "01";
}

