html,
body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
    background-image: url("whiteTable2.jpg"); 
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    height: 100%;
}

#helpButton {
    margin-top: 50px;
}


.col {
    margin: 0 auto;
    text-align: center;
}

/* #circumference {
    position: fixed;
    background-color: rgb(232, 232, 232);
    height: 80vh;
    width: 80vh;
    border-radius: 50%;

    border: solid 0px black;
    box-shadow: 20px 10px 60px black;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/
#inner {
    list-style-type: none;
    display: inline-block;
}

#blue {
    position: relative;
    margin-top: auto;
    height: 30vh;
    width: 40vh;
    border-radius: 100% 5% 5% 5%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(25, 25, 142, 1), rgba(25, 25, 92, 1));
}

#yellow {
    position: relative;
    margin-top: auto;
    height: 30vh;
    width: 40vh;
    border-radius: 5% 100% 5% 5%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(178, 195, 62, 1), rgba(238, 165, 32, 1));
}

#red {
    position: relative;
    margin-bottom: 50px;
    height: 30vh;
    width: 40vh;
    border-radius: 5% 5% 100% 5%;
  /*  margin: -40vh 0px 40vh 40vh; */
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(139, 0, 0, 1), rgba(99, 0, 0, 1));
}

.bright {
    filter: brightness(150%);
}

#green {
    position: relative;
    margin-bottom: 50px;
    height: 30vh;
    width: 40vh;
    border-radius: 5% 5% 5% 100%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(0, 100, 0, 1), rgba(0, 60, 0, 1));
}

.colorButton {
    cursor: pointer;
}

#control-panel {
    background-color: rgb(200, 200, 200);
    height: 40vh;
    max-width: 40vh;
    text-align: center;
    border-radius: 50%;
    /*  border: solid 1vh lightgray; */
    z-index: 2;
    margin: 0 auto;
    clear: both;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 1vh rgb(47, 79, 79);
}

#title {
    font-size: 7vh;
    margin-top: 3vh;
    font-family: 'Permanent Marker', cursive;
    transform: rotate(5deg);
}

.count {
    font-size: 4vh;
}

#buttons {
    position: relative;
    z-index: 2;
    display: inline;
    font-size: 3vh;
}


button {
    display: inline-block;
  /*  font-size: 24px; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#count {
    position: absolute;
    background: black;
    display: inline-block;
    height: 8vh;
    width: 12vh;
    margin-left: -22vh;
    margin-top: 13vh;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 4vh;
    text-align: center;
    vertical-align: middle;
    line-height: 7vh;
    border-radius: 2vh;
}

#power {
    color: black;
    background-color: red;
    border-radius: 2vh;
    width: 15vh;
    height: 7vh;
}

#start {
    color: black;
    background-color: green;
    border-radius: 2vh;
    width: 15vh;
    height: 7vh;
}
