/* help button */

#helpButton {
    margin-top: 20px;
    margin-left: 20px;
    height: 7vh;
    width: 12vh;
    padding: 0;
    border-radius: 2vh;
    font-family: 'Arvo', serif;
    font-size: 3vh;
    cursor: pointer;
}

/* high score label and box */

#highScore {
    text-align: right;
    margin-top: 20px;
    font-size: 3vh;
    font-family: 'Arvo', serif;
}


#highScoreBox {
    float: right;
    background: black;
    margin-top: 20px;
    margin-right: 20px;
    height: 7vh;
    width: 12vh;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 4vh;
    text-align: center;
    vertical-align: middle;
    line-height: 7vh;
    border-radius: 2vh;
}

/* simon title */

#title {
    font-size: 7vh;
    margin-top: 3vh;
    font-family: 'Permanent Marker', cursive;
    transform: rotate(5deg);
}

/* game colored buttons */

#blue {
    margin-top: auto;
    border-radius: 100% 0% 0% 0%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(0, 0, 250, 0.7), rgba(0, 0, 100, 1));
}

#yellow {
    margin-top: auto;
    border-radius: 0% 100% 0% 0%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(178, 195, 62, 0.7), rgba(238, 165, 32, 1));
}

#red {
    margin-bottom: 4vh;
    border-radius: 0% 0% 100% 0%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(139, 0, 0, 0.7), rgba(99, 0, 0, 1));
}

#green {
    margin-bottom: 4vh;
    border-radius: 0% 0% 0% 100%;
    border: solid 1vh rgb(232, 232, 232);
    background-image: radial-gradient(circle, rgba(0, 100, 0, 0.7), rgba(0, 60, 0, 1));
}

.colorButton {
    position: relative;
    height: 40vmin;
    max-width: 40vmin;
    cursor: pointer;
}

.bright {
    filter: brightness(150%);
}

/* start and power buttons */

#buttons {
    position: relative;
    z-index: 2;
    display: inline;
    font-size: 3vh;
    font-family: 'Arvo', serif;
}


button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    margin-bottom: 2vh;
}

button:hover {
    background-color: #3e8e41
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

#power {
    color: white;
    background-color: red;
    border-radius: 2vh;
    width: 10vh;
    height: 7vh;
    padding: 0;
}

#start {
    color: white;
    background-color: green;
    border-radius: 2vh;
    width: 10vh;
    height: 7vh;
    padding: 0;
}


/* score box */

#count {
    background: black;
    display: inline-block;
    height: 7vh;
    width: 14vh;
    color: red;
    font-family: 'Orbitron', sans-serif;
    font-size: 3vh;
    text-align: center;
    vertical-align: middle;
    line-height: 7vh;
    border-radius: 2vh;
    margin-bottom: 2vh;
}